:root {
  --clr-white: hsl(0, 0%, 100%);

  ---clr-slate-300: hsl(212, 45%, 89%);
  ---clr-slate-500: hsl(216, 15%, 48%);
  ---clr-slate-700: hsl(218, 44%, 22%);

  --body-font: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(---clr-slate-300);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 320px;
  max-width: 100%;
  height: 500px;
  background-color: var(--clr-white);
  border-radius: 16px;
  margin: 10px 16px;
}
.card img {
  width: 290px;
  height: 300px;
  margin: 12px 16px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.card h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 5px 20px;
  color: var(---clr-slate-700);
}
.card p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 10px 20px;
  color: var(---clr-slate-500);
}

/* Media Query */
@media (min-width: 1440px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 320px;
    max-width: 100%;
    height: 500px;
    background-color: var(--clr-white);
    border-radius: 16px;
    margin: 10px 16px;
  }
}
